<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="T4Scaffolding.Core" version="1.0.0" targetFramework="net40" />
  <package id="XSockets" version="3.0.1" targetFramework="net40" />
  <package id="XSockets.Client" version="3.0.1" targetFramework="net40" />
  <package id="XSockets.Core" version="3.0.1" targetFramework="net40" />
  <package id="XSockets.Fallback" version="3.0.1" targetFramework="net40" />
  <package id="XSockets.JsApi" version="2.8.0" targetFramework="net40" />
  <package id="XSockets.Plugin.Framework" version="1.0.0" targetFramework="net40" />
  <package id="XSockets.Server" version="3.0.1" targetFramework="net40" />
</packages>